.search-box{
    z-index:4;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);

    width:300px;
    height:200px;
    background-color:red;
    box-shadow: 0 10px 25px rgba(19, 12, 49, 0.7);

    border-radius:7.5px;
    background-image: linear-gradient(180deg, #3296d8 0%, #1b6ea5 50% , #094a75 100%);

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.search-box .button{
    width:100px;
    height:30px;
    box-sizing:border-box;
    margin-top:25px;
    border-radius:15px;
    border: 3px solid white;

    display:flex;
    align-items:center;
    justify-content: center;

    color:white;
    font-family:roboto;


    transition:all 0.3s;
}

.search-box .button:hover{
    transform: scale(1.1);
    cursor:pointer;
    background-color:white;
    color:#1572b7;
}

.search-box .exit{
    z-index:4;
    position:Absolute;
    right:12.5px;
    top:12.5px;
    width:30px;
    height:30px;
    background:url('../Img/exit.png');
    background-size:cover;
}

.search-box .exit:hover{
    cursor:pointer;
}

.search-box .add-location-text{
    position:absolute;
    left:50%;
    top:17.5px;
    transform:translateX(-50%);

    color:white;
    font-family:Roboto;
    font-weight:bold;
}

@media only screen and (max-width: 700px) {
    .search-box{
        margin-top:100vh;
        width:100vw;
        height:100vh;
        border-radius:0;
    }

    .search-box .button{
        width:250px;
        height:70px;
        border-radius: 35px;
        font-size: 35px;
    }

    .search-box .text-input{
        width:300px;
        height:40px;
        font-size:35px;
    }

    .search-box .exit{
        width:60px;
        height:60px;
    }
}
