.weather-card{
    position:relative;
    
    width:95%;
    height:100px;
    min-height:90px;
    border-radius:25px;
    margin:15px 0;
    box-sizing:border-box;

    background-size:cover;
    background-position:center;
    box-shadow: 0 10px 25px rgba(19, 12, 49, 0.7);

    transition:all 0.3s;
}

.weather-card:hover{
    transform: scale(1.04);
    cursor:pointer;
}

.weather-card::after {
    z-index:2;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius:25px;
  /*  background-image: linear-gradient(140deg, #046a8b 10%,rgb(228, 225, 225) 60% ,rgb(199, 216, 192) 70% , #1faf06 100%); */
    background-image: linear-gradient(#1572b7 0%, #1572b7 100%);
    opacity: .75;
}

.weather-card .location{
    z-index:3;
    position:absolute;
    left:25px;
    bottom:10%;

    display:flex;
    flex-direction:column;
}

.weather-card .city{
    font-size:17.5px;
    font-weight:bold;
    color:white;
}

.weather-card .region{
    font-size:12.5px;
    color:white;
}

.weather-card .temp{
    z-index:3;
    position:absolute;
    right:25px;
    bottom:10%;

    font-size:30px;
    color:White;
}


